###############################################################################
# Sobre GitHub Actions                                                        #
# https://docs.github.com/en/actions/learn-github-actions                     #
# https://www.youtube.com/watch?v=TLB5MY9BBa4                                 #
###############################################################################
#
# Atualiza, automaticamente, o arquivo changelog sempre que houver um release
#
# Motivação: https://stefanzweifel.io/posts/2021/11/13/introducing-the-changelog-updater-action
# Como usar: https://github.com/stefanzweifel/changelog-updater-action

name: Update Changelog

on:
  release:
    types: [released]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ github.event.release.name }}
          release-notes: ${{ github.event.release.body }}
          path-to-changelog: docs/CHANGELOG.md

      - name: Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'docs: update changelog'
          branch: ${{ github.head_ref }}
